<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rmkk.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="rmkk.entity.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fingerinfo" property="fingerinfo" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="INTEGER" />
    <result column="deptid" property="deptid" jdbcType="VARCHAR" />
    <result column="dotid" property="dotid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, fingerinfo, userid, username, password, role, deptid, dotid
  </sql>
  
  <select id="getUserByUser" parameterType="User" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" />
  	from user
  	where userid=#{userid}
  	and password=#{password}
  </select>
  
  <select id="getUserByName" parameterType="java.lang.String" resultType="java.lang.Integer">
  	select
  	count(1)
  	from user
  	where userid=#{userid}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="rmkk.entity.User" >
    insert into user (id, fingerinfo, userid, 
      username, password, role, 
      deptid, dotid)
    values (#{id,jdbcType=INTEGER}, #{fingerinfo,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{role,jdbcType=INTEGER}, 
      #{deptid,jdbcType=VARCHAR}, #{dotid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="rmkk.entity.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fingerinfo != null" >
        fingerinfo,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="role != null" >
        role,
      </if>
      <if test="deptid != null" >
        deptid,
      </if>
      <if test="dotid != null" >
        dotid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fingerinfo != null" >
        #{fingerinfo,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        #{role,jdbcType=INTEGER},
      </if>
      <if test="deptid != null" >
        #{deptid,jdbcType=VARCHAR},
      </if>
      <if test="dotid != null" >
        #{dotid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="rmkk.entity.User" >
    update user
    <set >
      <if test="fingerinfo != null" >
        fingerinfo = #{fingerinfo,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        role = #{role,jdbcType=INTEGER},
      </if>
      <if test="deptid != null" >
        deptid = #{deptid,jdbcType=VARCHAR},
      </if>
      <if test="dotid != null" >
        dotid = #{dotid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="rmkk.entity.User" >
    update user
    set fingerinfo = #{fingerinfo,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      role = #{role,jdbcType=INTEGER},
      deptid = #{deptid,jdbcType=VARCHAR},
      dotid = #{dotid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>